<title>注册</title>
<include file="Common/m_header" />
<form action="{:U('Login/addUser')}" class="layui-form m-register-main" method="post">
   <div class="layui-form-item">
    <label class="layui-form-label">手机号</label>
    <div class="layui-input-block">
      <input type="text" name="username" lay-verify="required|phone" autocomplete="off" placeholder="请输入手机号" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密码</label>
    <div class="layui-input-block">
      <input type="password" name="password" lay-verify="required" placeholder="" autocomplete="off" class="layui-input" placeholder="设置6位数密码">
    </div>
  </div>
  
  <div class="layui-form-item">
      <label class="layui-form-label">验证码</label>
      <div class="layui-input-block">
        <input type="text" name="verify" lay-verify="required|number" autocomplete="off" class="layui-input" placeholder="输入短信验证码">
      </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block" style="text-align:right">      
    	<a href="#" class="layui-btn" id="send_verify" style="background:#8f0227">获取</a>
      <button class="layui-btn" lay-submit="" lay-filter="demo1" style="background:#02338f">注册</button>
    </div>
  </div>
   <div class="layui-form-item">
    <div class="layui-input-block change" style="text-align:center">      
    	<span>已有帐号,点击登录</span>
    </div>
  </div>
  <input type="hidden" name="f" value="{:I('get.f')}">
</form>

<script type="text/javascript">
    layui.use(['form'], function () {
        var form = layui.form, $ = layui.jquery;
    });

    $('#login').click(function(){
      window.location.href = "{:U('Login/index')}";
    })

    $('#send_verify').click(function(){
      var phone = $("input[name='username']").val();

      var myreg = /^(((13[0-9]{1})|(14[0-9]{1})|(17[0]{1})|(15[0-3]{1})|(15[5-9]{1})|(18[0-9]{1}))+\d{8})$/;       
      if(phone == ''){
        layer.msg("手机号码不能为空！");
        return false;
      }else if(phone.length !=11){
        layer.msg("请输入有效的手机号码！");
        return false;
      }else if(!myreg.test(phone)){
        layer.msg("请输入有效的手机号码！");
        return false;
      }

      //注册
      var type = 0;
      $.post("{:U('Login/sendMessage')}",{phone:phone,type:type},function(res){
        layer.msg(res.message);
      })
      settime($(this));
    })

    var countdown=60; 
    function settime(obj) { //发送验证码倒计时
          if (countdown == 0) { 
              obj.removeClass("layui-btn-disabled"); 
              //obj.removeattr("disabled"); 
              obj.html("发送");
              countdown = 60; 
              return;
          } else { 
              obj.addClass("layui-btn-disabled"); 
              obj.html("(" + countdown + ")");
              countdown--; 
          } 
      setTimeout(function() { 
          settime(obj) }
          ,1000) 
      }

    $(".change").click(function(){
    	window.location.href = "{:U('Login/index')}"
    })
</script>


<!-- 微信跳转 -->
<style type="text/css">
  *{margin:0; padding:0;}
  img{max-width: 100%; height: auto;}
  .test{height: 600px; max-width: 600px; font-size: 40px;}
  </style>
  <script type="text/javascript" src="http://libs.useso.com/js/jquery/1.9.0/jquery.min.js"></script>
  <script type="text/javascript">
    function is_weixin() {
        var ua = navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == "micromessenger") {
            return true;
        } else {
            return false;
        }
    }
    var isWeixin = is_weixin();
    var winHeight = typeof window.innerHeight != 'undefined' ? window.innerHeight : document.documentElement.clientHeight;
    var weixinTip = $('<div id="weixinTip"><p><img src="__IMG__/live_weixin.png" alt="微信打开"/></p></div>');
    
    if(isWeixin){
      $("body").append(weixinTip);
    }
    $("#weixinTip").css({
      "position":"fixed",
      "left":"0",
      "top":"0",
      "height":winHeight,
      "width":"100%",
      "z-index":"1000",
      "background-color":"rgba(0,0,0,0.8)",
      "filter":"alpha(opacity=80)",
    });
    $("#weixinTip p").css({
      "text-align":"center",
      "margin-top":"10%",
      "padding-left":"5%",
      "padding-right":"5%"
    });
  </script>