<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{:C('webname')}</title>
  <link rel="stylesheet" href="__CSS__/owl.carousel.css">
  <link rel="stylesheet" href="__CSS__/owl.theme.css">
</head>
<body style="background-color: #eee;">
  <include file="Common/header" />

  <!-- 轮播图 -->
  <div class="layui-carousel" id="lantern">
    <div carousel-item>
      <div><img src="//res.layui.com/images/layui/demo/1.png"></div>
      <div><img src="//res.layui.com/images/layui/demo/2.png"></div>
      <div><img src="//res.layui.com/images/layui/demo/3.png"></div>
      <div><img src="//res.layui.com/images/layui/demo/4.png"></div>
      <div><img src="//res.layui.com/images/layui/demo/5.png"></div>
      <div><img src="//res.layui.com/images/layui/demo/6.png"></div>
      <div><img src="//res.layui.com/images/layui/demo/7.png"></div>
    </div>
  </div>

  <!-- 文章 -->
  <div class="layui-main index-main">
<!--     <p class="index-tip"><i class="layui-icon" style="font-size: 25px; color: #FF5722">&#xe756;
</i>  
最新公告</p> -->
    <ul class="site-idea">
      <li class="index-about">
        <fieldset class="layui-elem-field layui-field-title">
          <legend>关于我们</legend>
          <img src="{:C('about_img')}" alt="">
          <p>{:C('about_body')}</p>
        </fieldset>
      </li>
      <li class="index-news">
        <fieldset class="layui-elem-field layui-field-title">
          <legend>最新资讯</legend>
            <volist name="arclist" id="arc">
              <p><a href="{:U('Article/detail',array('id'=>$arc['id']))}" style="width:295px;overflow:hidden">* {$arc['title']}</a><span>{$arc['time']|date='Y-m-d',###}</span></p>
            </volist>
        </fieldset>
      </li>
      <li class="index-contact">
        <fieldset class="layui-elem-field layui-field-title">
          <legend>联系我们</legend>
          <p>地址: {:C('contact_address')}</p>
          <p>电话: {:C('contact_phone')}</p>
          <p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={:C('contact_qq')}&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:{:C('contact_qq')}:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></p>
        </fieldset>
      </li>
      <li class="index-shows">
        <fieldset class="layui-elem-field layui-field-title">
          <legend>合作公司办公环境一览</legend>
              <div id="owl-demo" class="owl-carousel">
                  <a class="item"><img src="__IMG__/owl1.jpg" alt=""></a>
                  <a class="item"><img src="__IMG__/owl2.jpg" alt=""></a>
                  <a class="item"><img src="__IMG__/owl3.jpg" alt=""></a>
                  <a class="item"><img src="__IMG__/owl4.jpg" alt=""></a>
                  <a class="item"><img src="__IMG__/owl5.jpg" alt=""></a>
                  <a class="item"><img src="__IMG__/owl6.jpg" alt=""></a>
                  <a class="item"><img src="__IMG__/owl7.jpg" alt=""></a>
                  <a class="item"><img src="__IMG__/owl8.jpg" alt=""></a>
                  <a class="item"><img src="__IMG__/owl1.jpg" alt=""></a>
                  <a class="item"><img src="__IMG__/owl2.jpg" alt=""></a>
                  <a class="item"><img src="__IMG__/owl3.jpg" alt=""></a>
                  <a class="item"><img src="__IMG__/owl4.jpg" alt=""></a>
                  <a class="item"><img src="__IMG__/owl5.jpg" alt=""></a>
                  <a class="item"><img src="__IMG__/owl6.jpg" alt=""></a>
                  <a class="item"><img src="__IMG__/owl7.jpg" alt=""></a>
                  <a class="item"><img src="__IMG__/owl8.jpg" alt=""></a>
              </div>
    </fieldset>
      </li>
    </ul>


  </div>

  <!-- 底部 -->
  <include file="Common/footer" />
</body>
<script src="__JS__/owl.carousel.js"></script>
<script>
  $(function(){
    $('#owl-demo').owlCarousel({
      autoPlay: 2000,
    });
});
</script>
<script>
layui.use('carousel', function(){
  var carousel = layui.carousel;
  //建造实例
  carousel.render({
    elem: '#lantern'
    ,width: '100%' //设置容器宽度
    ,height: '250px'
    //,anim: 'updown' //切换动画方式
  });
});
</script>
</html>