<title>{:C('webname')}</title>
<include file="Common/m_header" />

<!-- 登录 -->
<div class="m-header-nav-btn">
	<if condition="$isLogin">
		<button class="layui-btn m-header-btn" id="userCenter">个人中心</button>
	<else />
		<button class="layui-btn layui-btn-danger" style="margin-left:18%;margin-right:6%" id="login-btn">登录</button>
		<button class="layui-btn" style="margin-left:6%" id="register-btn">注册</button>
	</if>
</div>
<div class="m-header-btn-list">
	<a href="{:U('Article/lastArticle',array('type' => 0))}" class="layui-btn layui-btn-normal">关于我们</a>
	<a href="{:U('SignJob/index')}" class="layui-btn layui-btn-normal">登记找工作</a>
	<a href="{:U('Search/index')}" class="layui-btn layui-btn-normal">查询登记状态</a>
	<a href="{:U('Article/lastArticle',array('type' => 1))}" class="layui-btn layui-btn-normal">联系我们</a>
</div>
<script>
	$('#login-btn').click(function(){
		window.location.href = "{:U('Login/index')}";
	})
	$('#register-btn').click(function(){
		window.location.href = "{:U('Login/register')}";
	})
	$('#userCenter').click(function(){
		window.location.href = "{:U('User/myInfo')}";
	})
</script>