<title>介绍好友</title>
<include file="Common/m_header_user" />
<script src="__JS__/code.js"></script>
<script src="__JS__/jquery.qrcode-diy.js"></script>
<!-- <script src="__JS__/jquery.zclip.min.js"></script>
 --><div class="m-popularize-main">
	<div class="layui-field-box" style="font-size:16px">
	    通过下面二维码或链接注册并被成功派遣的的每位用户您将获得{:C('reward')}元奖励！
	</div>
  	<div class="layui-form-item">
	    <div class="layui-input-inner">
	    	<div id="qrCode" style="border:solid 10px #fff"></div>
	    </div>
	</div>
	<div class="layui-form-item">
	    <div class="layui-input-inner">
	      <span id="url">{$url}</span>
	    </div>
	</div>
	<button class="layui-btn layui-btn-disabled" lay-submit="" lay-filter="demo2" style="width:70%;margin-left:15%;background:#ce6600" id="copy-btn">浏览器不支持，请手动复制</button>
</div>

<style>
	#m-header-user-1{
		background: #ce6600 !important;
	}
</style>
<script> 
	var url = "{$url}";
    $("#qrCode").qrcode({
    	correctLevel:0,
	    // render: "canvas",
	    width: 150,
	    height:150,
	    // text: url
	    text:url,
	    typeNumber: 5, //计算模式
	    toImg: true //是否转化为图片,默认为false
	});

</script>