<link rel="stylesheet" href="__LAY__/css/layui.css">
<link rel="stylesheet" href="__CSS__/admin.css">
<script src="__LAY__/layui.js"></script>
<div class="layui-main myInfo-main">

	<!-- 修改密码 -->
	<form action="{:U('Admin/Manager/changePwd')}" method="post">  
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
	  <legend>修改密码</legend>
	</fieldset>
	  <div class="layui-form-item">
	    <div class="layui-inline">
	      <label class="layui-form-label">新密码</label>
	      <div class="layui-input-inline">
	        <input type="password" name="password" lay-verify="required" autocomplete="off" class="layui-input">
	      </div>
	    </div>
	  </div>
	  <div class="layui-form-item">
	    <button class="layui-btn" lay-submit="" lay-filter="demo2" style="margin-left:50px">修改密码</button>
	  </div>
	  <input type="hidden" name="type" value="pwd">
	</form>

	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
	  <legend>添加管理员</legend>
	</fieldset>
	<div class="layui-form-item">
	    <a class="layui-btn" lay-submit="" lay-filter="demo2" style="margin-left:50px" href="{:U('Admin/Manager/add')}">添加管理员</a>
	 </div>
	 
	 <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
	  <legend>管理员列表</legend>
	</fieldset>
	<table id="list" lay-filter="messages"></table>

</div>

<script>
  layui.use('table', function(){
  var table = layui.table;
  //第一个实例
  table.render({
    elem: '#list'
    ,height: 500
    ,width:800
    ,url: "{:U('Admin/Manager/managers')}" //数据接口
    ,page: true //开启分页
    ,cols: [[ //表头
      {field: 'id', title: 'ID',  sort: true, width:50, fixed: 'left'}
      ,{field: 'username', title: '用户名'}
      ,{fixed:'right',title: '操作',align:'center',toolbar:'#userTool'}
    ]]
  });

    //监听工具条
	table.on('tool(messages)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
	  var data = obj.data; //获得当前行数据
	  var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
	  var tr = obj.tr; //获得当前行 tr 的DOM对象
	  var id = parseInt(tr.find("td[data-field='id']").find("div").html());
	 
	  if(layEvent === 'del'){ //删除
	  	window.location.href = "{:U('Admin/Manager/deleteManager')}" + "?id=" + id;
	  }
	});
 });

</script>

<script type="text/html" id="userTool">
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>