  <link rel="stylesheet" href="__LAY__/css/layui.css">
  <link rel="stylesheet" href="__CSS__/index.css">
  <script src="__JS__/jquery.js"></script>
  <script src="__LAY__/layui.js"></script>
  <script src="__JS__/index.js"></script>

  <div class="layui-header header">
     <div class="layui-main">
      <a class="logo" href="/">
        <img src="__IMG__/logo.png" alt="layui">
      </a>

        <!-- 头部区域（可配合layui已有的水平导航） -->
      <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="{:U('Index/index')}">首页</a></li>
        <li class="layui-nav-item"><a href="{:U('SignJob/index')}">登记找工作</a></li>
        <li class="layui-nav-item"><a href="{:U('Search/index')}">查询工作状态</a></li>
        <li class="layui-nav-item"><a href="{:U('Article/lastArticle',array('type' => 1))}">联系我们</a></li>
        <li class="layui-nav-item"><a href="{:U('Article/lastArticle',array('type' => 0))}">关于我们</a></li>
      </ul>
      <if condition="$isLogin">
        <ul class="layui-nav layui-layout-right">
          <li class="layui-nav-item">
            <a href="javascript:;">
              {$nickname}
            </a>
            <dl class="layui-nav-child">
              <dd><a href="{:U('User/index')}">个人中心</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item"><a href="{:U('Login/logout')}">退出</a></li>
        </ul>
      <else/>
        <ul class="layui-nav layui-layout-right">
          <li class="layui-nav-item" id="u_login">登录</li>
          <li class="layui-nav-item"><span>&nbsp;|&nbsp;</span></li>
          <li class="layui-nav-item" id="u_register">注册</li>
        </ul>
      </if>
     </div>
  </div>

<script>
  $('#u_login').click(function(){
    window.location.href = "{:U('Login/index')}";
  })
  $('#u_register').click(function(){
    window.location.href = "{:U('Login/register')}";
  })
</script>

<script>
  //浏览器判断
  /* 检查ie浏览器版本 */
(function() {
  var o = navigator.userAgent.match(/MSIE (\d+)/);
  o = o && o[1];
  console.log('o', o);
  // ie9 以下 || o != null
  if (!!o && o < 11) {
    // 更新页面
    alert("您的浏览器版本过低,请使用IE11以上或其他极速浏览器访问");
  }
})();
</script>