<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">     
<meta content="yes" name="apple-mobile-web-app-capable">     
<meta content="black" name="apple-mobile-web-app-status-bar-style">     
<meta content="telephone=no" name="format-detection">
<link rel="stylesheet" href="__LAY__/css/layui.css">
<link rel="stylesheet" href="__CSS__/index_m.css">
<script src="__JS__/jquery.js"></script>
<script src="__LAY__/layui.js"></script>
<script src="__JS__/index.js"></script>
<!-- 兼容ie9 -->
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>  
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>  
<div class="m-user-header">
	<div class="m-user-logo">
		<img src="__IMG__/logo-m-user.png" alt="">
	</div>
	<div class="m-detail-header" style="margin-bottom:5px;">
		<button class="layui-btn" id="user_center">个人中心</button>
	</div>
	<div class="m-detail-header" style="margin-bottom:10px;margin-top:5px">
		<button class="layui-btn" id="return_index">返回首页</button>
	</div>
	<div class="m-user-header-btns">
		<a href="{:U('User/popularize')}" class="layui-btn" id="m-header-user-1">介绍好友</a>
		<a href="{:U('User/deposit')}" class="layui-btn" id="m-header-user-2">钱包提现</a>
	</div>
	<div class="m-user-header-btns">
		<a href="{:U('User/messages')}" class="layui-btn" id="m-header-user-3">系统消息</a>
		<a href="{:U('User/sendCompany')}" class="layui-btn" id="m-header-user-4">紧急救援</a>
	</div>
</div>

<script>
	$("#user_center").click(function(){
		window.location.href = "{:U('User/myInfo')}";
	})	

	$("#return_index").click(function(){
		window.location.href = "{:U('Index/index')}";
	})
</script>