<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">     
<meta content="yes" name="apple-mobile-web-app-capable">     
<meta content="black" name="apple-mobile-web-app-status-bar-style">     
<meta content="telephone=no" name="format-detection">
<link rel="stylesheet" href="__LAY__/css/layui.css">
<link rel="stylesheet" href="__CSS__/index_m.css">
<script src="__JS__/jquery.js"></script>
<script src="__LAY__/layui.js"></script>
<script src="__JS__/index.js"></script>
<!-- 兼容ie9 -->
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>  
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>  
<div class="m-header">
	<div class="m-header-logo">
		<img src="__IMG__/logo-m.png" alt="">
	</div>
</div>